<div sf-array="form" class="schema-form-array {{form.htmlClass}}" ng-model="$$value$$" ng-model-options="form.ngModelOptions">
    <label class="control-label" ng-hide="showTitle()">{{ form.title }} </label>
    <div ng-bind-html="form.description"></div>
    <div class="clearfix schema-form-array-header"> <label class="schema-form-array-item-title">{{form.schema.items.title}}</label>
        <div class="button-area"> <button ng-hide="form.readonly || form.add === null" ng-click="appendToArray();editable[modelArray.length-1]=true"
                type="button" class="btn {{ form.style.add || 'btn-default' }}"><i class="glyphicon glyphicon-plus"></i> {{ form.add || 'Add'}}</button>
            <div class="schema-form-array-required" ng-bind-html="modelArray.length + ' of ' +form.schema.arrayrequired"></div>
        </div>
    </div>
    <div class="list-group" ng-model="modelArray" ui-sortable="">
        <div class="list-group-item {{form.fieldHtmlClass}}" ng-repeat="item in modelArray track by $index">
            <div class="editable" ng-show="editable[$index]">
                <sf-decorator ng-init="arrayIndex = $index" form="copyWithIndex($index)" ng-if="true"></sf-decorator>
                <div class="Array-modal-action-bar"><button class="btn btn-danger pull-left" ng-click="editable[$index]=false">Cancel</button><button class="btn btn-success pull-right"
                        ng-show="editable[$index]" ng-click="editable[$index]=false">Save</button></div>
            </div>
            <div class="non-editable" ng-show="!editable[$index]">
                <div ng-repeat="(key, value) in item" class="form-group">
                    <div class="col-sm-4"><b style="text-transform:capitalize">{{key.toLowerCase()}}  :</b></div>
                    <div class="col-sm-8">{{value}} &nbsp;</div>
                </div>
            </div>
            <div class="schema-form-array-buttons" ng-init="(modelArray.length==1)? editable[0]=true : '' ">
                <button class="btn btn-warning" ng-show="!editable[$index]" ng-click="editable[$index]=true;">Edit</button>
                <button class="btn btn-success" ng-show="editable[$index]" ng-click="editable[$index]=false">Save</button>
                <button class="btn btn-danger" ng-hide="form.readonly || form.remove === null" ng-click="deleteFromArray($index)">Delete</button>
            </div>
        </div>
    </div>
    <div class="help-block" ng-show="(hasError() && errorMessage(schemaError())) || form.description" ng-bind-html="(hasError() && errorMessage(schemaError()) || '')"></div>
</div>